{% extends 'productos/html_base.html' %}

{% block content %}
    <!-- Encabezado de la página -->
    <h1>Carrito de Compras</h1>

    <!-- Verifica si hay elementos en el carrito -->
    {% if carrito %}
        <!-- Tabla para mostrar los detalles de los productos en el carrito -->
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Bucle para recorrer cada elemento en el carrito -->
                {% for item in carrito %}
                    <tr>
                        <!-- Muestra información del producto en cada fila -->
                        <td>{{ item.producto.nombre }}</td>
                        <td>${{ item.producto.precio }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>${{ item.subtotal }}</td>
                        <td>
                            <!-- Formulario para eliminar el elemento del carrito -->
                            <form method="post" action="{% url 'eliminar_del_carrito' item.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Muestra el total del carrito -->
        <p>Total: ${{ total_carrito }}</p>
    {% else %}
        <!-- Mensaje si el carrito está vacío -->
        <p>El carrito está vacío.</p>
    {% endif %}
{% endblock %}
