{% extends 'productos/html_base.html' %}

{% block title %}Tienda Saludable - Home{% endblock %}

{% block content %}
    <!-- Encabezado principal de la página -->
    <h1>Bienvenido a Tienda Saludable</h1>
    
    <!-- Párrafo introductorio sobre la historia y la misión de la tienda -->
    <p>
        En el corazón de nuestra historia está la pasión por ofrecer opciones de vida más saludables y deliciosas. Comenzamos como una pequeña tienda local con la visión de proporcionar productos de alta calidad que promuevan el bienestar y la alimentación consciente.
    </p>

    
    <p>
        A lo largo de los años, hemos crecido y evolucionado, convirtiéndonos en un destino confiable para aquellos que buscan una variedad de opciones nutricionales. Nuestra dedicación se refleja en la cuidadosa selección de alimentos orgánicos, snacks saludables y suplementos nutricionales que ofrecemos. En Tienda Saludable, no solo ofrecemos productos, sino también una experiencia de compra que inspira y educa.
    </p>

    
    <p>
        Creemos en el poder de las decisiones informadas sobre la nutrición y en el impacto positivo que estas decisiones pueden tener en la vida cotidiana. Queremos ser más que una tienda; aspiramos a ser tu guía en el viaje hacia un estilo de vida más saludable. Nuestro compromiso va más allá de vender productos; buscamos ser una fuente de inspiración para adoptar un enfoque consciente hacia la alimentación.
    </p>

    
    <p>
        Únete a nosotros en la revolución de la alimentación consciente. Explora nuestras estanterías virtuales, sumérgete en la diversidad de opciones y descubre cómo cada elección que haces puede contribuir a tu bienestar general. En Tienda Saludable, estamos comprometidos con tu salud y felicidad. ¡Bienvenido a una nueva forma de disfrutar de la vida a través de la nutrición!
    </p>
{% endblock %}
